# timeout in milliseconds for the http requests (optional, defaults to 5000)
#timeout=

# the interval in milliseconds when to find new refresh candidates
# (optional, defaults to 1000)
granularity=5000

# whether to substitute the current time or state value into the URL
# (optional, defaults to true)
#format=

# configuration of the first cache item
carStatusCache.url=http://localhost:8081/status/
carStatusCache.updateInterval=5000

# configuration of the second cache item  
#<id2>.url=
#<id2>.updateInterval=
